@{
    ViewBag.Title = "About";
}


<div class="eden" style="margin-top:96px">
<section class="part2">
    <div class="container2">
        <div class="row1" style="margin-top:60px; margin-right: -227px;">
            <div class="h" style="margin-top:-53px; margin-left:-280px">
                <h1 style="text-align:center; color:white; background-color:#BDBD9C; border:double; font-family:'Comic Sans MS'">НАШИОТ ТИМ</h1>
            </div>
            <div style="margin-top:55px">
            <div class="col-md-2" style=" background-color:#BDBD9C; border:double; border-color:white">

                <img alt="" class="resize-image center-block" id="image1" src="https://cdn5.vectorstock.com/i/1000x1000/88/84/happy-woman-face-vector-8808884.jpg" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Наталија Костадиноска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:#BDBD9C; border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://assets.materialup.com/uploads/0bee3e01-ba96-4a9d-b288-620780ba6269/attachment.png" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Елена Костова </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:#BDBD9C; border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://i.pinimg.com/originals/8d/51/d5/8d51d5d3ab447836a384f3ddb543dd25.png" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Ана Зафировска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:#BDBD9C; border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://www.pngkey.com/png/detail/446-4462649_animated-faces-my-hero-design-clip-art-woman.png" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Eмилија Белеска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:#BDBD9C; border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://image.freepik.com/free-vector/smiling-girl-avatar_102172-32.jpg" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Ана Воденичаровска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>
                </div>
        </div>
    </div>
</section>

    </div>